USE [AdventureWorks2022]
GO
/****** Object:  StoredProcedure [dbo].[BLD_RPT_productSales]    Script Date: 7/29/2025 9:59:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marielle Bañares
-- Create date: 1 July 2025
-- Description:	Product quantity sales per month
-- =============================================
ALTER PROCEDURE [dbo].[BLD_RPT_productSales]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	drop table if exists RPT_productSales;

	create table RPT_productSales (
		[Product ID]				nvarchar(max)
		, [Product Name]			nvarchar(max)
		, [Order Month]				date
		, [Total Sales Quantity]	int
	);

	with products as (
		select s.SalesOrderID as salesOrderId
			, s.ProductID as productId
			, p.[Name] as productName
			, s.OrderQty as orderQty
		from sales.SalesOrderDetail s
		left join Production.Product p
		on s.ProductID = p.ProductID
	)

	insert into RPT_productSales
	select p.productId as [Product ID]
		, p.productName as [Product Name]
		, convert(date,concat(format(s.OrderDate,'yyyy-MM'),'-01')) as [Order Month]
		, sum(p.orderQty) as [Total Sales Quantity]
	from products p
	left join sales.SalesOrderHeader s
	on p.salesOrderId = s.SalesOrderID
	group by p.productId
		, p.productName
		, convert(date,concat(format(s.OrderDate,'yyyy-MM'),'-01'))
	order by [Order Month]
		, [Total Sales Quantity] desc
END
