USE [AdventureWorks2022]
GO
/****** Object:  StoredProcedure [dbo].[BLD_RPT_monthlyTerritorySales]    Script Date: 7/29/2025 9:59:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Marielle Bañares
-- Create date: 1 July 2025
-- Description:	Product quantity sales per month
-- =============================================
ALTER PROCEDURE [dbo].[BLD_RPT_monthlyTerritorySales]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	drop table if exists RPT_monthlyTerritorySales;

	create table RPT_monthlyTerritorySales (
		Country				nvarchar(max)
		, [Order Month]		date
		, [Total Sales]		decimal(15,2)
	);

	insert into RPT_monthlyTerritorySales
	select case when t.[Name] in ('Central','Northeast','Northwest','Southeast','Southwest')
			then concat('United States-',t.[Name]) else t.[Name] end as Country
		, convert(date,concat(format(o.OrderDate, 'yyyy-MM'),'-01')) as [Order Month]
		, sum(o.SubTotal) as [Total Sales]
	from Sales.SalesOrderHeader o
	left join sales.SalesTerritory t
	on o.TerritoryID = t.TerritoryID
	group by case when t.[Name] in ('Central','Northeast','Northwest','Southeast','Southwest')
			then concat('United States-',t.[Name]) else t.[Name] end
		, convert(date,concat(format(o.OrderDate, 'yyyy-MM'),'-01'))
	order by Country, [Order Month]
	;

END
